<form (submit)="handleFormSubmit()"
      [formGroup]="form!"
      class="container"
>
  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label>Username</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="auto">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <button type="submit"
          mat-flat-button
          color="primary">Log in</button>
</form>
