<div class="container" *ngIf="blocks.length > 0">
  <div class="settings-container">
    <div class="block">Allow remove</div>
    <input type="checkbox" (change)="toggleAllowRemove()"/>
    <hr/>
  </div>

  <div class="block-container" *ngFor="let block of blocks">
    <div [ngClass]="{'red-block': block.color === 'RED',
         'green-block': block.color === 'GREEN',
         'blue-block' : block.color === 'BLUE',
         'bold-block' : block.boldSelected,
         'italic-block' : block.italicSelected}"
    class="block">{{block.text}}</div>
    <button type="button" class="remove-button"
            *ngIf="removeAllowed"
            (click)="remove(block)">Remove</button>

  </div>
</div>
