.container {
  border: 1px solid lightblue;
  padding: 15px;
  border-radius: 10px;
}

.label {
  min-width: 100px;
  display: inline-block;
}

.input-field {
  margin: 4px;
}

.item-block {
  width: 35px;
  height: 35px;
  margin: 4px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid white;
}

.item-block:hover {
  border-color: gray;
}

.text-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 4px;
}

.red-block {
  background-color: lightpink;
}

.green-block {
  background-color: lightgreen;
}

.blue-block {
  background-color: lightblue;
}

.selected-block {
  border-color: black;
}
