<div id="box">
  <div id="text">
    <h4>Text:</h4>
    <input #newname (keyup)="functionname(newname)" type="text"/>
  </div>

  <div id="colors">
    <h4>Color:</h4>
    <div>
      <button id="red" type="button" (click)="putred()" style="background-color: red; border: none; cursor: pointer;"></button>
      <button id="green" type="button" (click)="putgreen()" style="background-color: green; border: none; cursor: pointer"></button>
      <button id="blue" type="button" (click)="putblue()" style="background-color: blue; border: none; cursor: pointer;"></button>
    </div>
  </div>

  <div id="styles">
    <h4>Style:</h4>
    <div>
      <button id="bold" type="button" (click)="putbold()" style="font-weight: bold;">Bold</button>
      <button id="italic" type="button" (click)="putitalic()" style="font-style: italic;">Italic</button>
    </div>
  </div>

  <div id="cases">
    <h4>Case:</h4>
    <div>
      <button id="upper" type="button" (click)="putupper()" style="text-transform: uppercase;">uppercase</button>
      <button id="lower" type="button" (click)="putlower()" style="text-transform: lowercase;">lowercase</button>
    </div>
  </div>

  <button type="button" (click)="addtoarry()">Generate</button>
</div>

<p>Allow elements to be deleted: <input type="checkbox" (change)="checked()"></p>

<div *ngIf="elements.length != 0" id="items">
  <div *ngFor="let element of elements" id="list">

    <p [ngClass]="{
      'red': element.color == 'red',
      'blue': element.color == 'blue',
      'green': element.color == 'green',
      'italic': element.style === 'italic',
      'bold': element.style === 'bold',
      'uppercase': element.case === 'uppercase',
      'lowercase': element.case === 'lowercase'
    }"> {{element.name}}
    </p>

    <button *ngIf="check==true" id="delete" type="button" (click)="delete(element.id)">Delete</button>

  </div>
</div>
