#text, #colors, #styles, #cases{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

#text input{
    height: 20px;
}

#colors div{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

#colors div button{
    width: 25px;
    height: 25px;
}

#styles div{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

#items, #box{
    border: 1px black solid;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

#list{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete{
    height: 25px;
}